---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luke Bouch">
  <main class="relative isolate min-h-full">
    <img
      src="/background.jpg"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover object-top"
    />
    <div
      class="grid mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8"
    >
      <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">
        lukebouch.dev is coming soon.
      </h1>
    </div>
  </main>
</Layout>
